{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Dashboard</h1>

<table width="50%" border="1">
    <thead>
        <tr>
            <th>Sr No.</th>
            <th>Title</th>
            <th>Action</th> <!-- Added Action header for Delete -->
        </tr>
    </thead>
    <tbody>
        {% if posts %}
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>
                        <form method="post" action="{% url 'delete_post' post.id %}">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No posts available</td>
            </tr>
        {% endif %}
    </tbody>
</table>



{% endblock %}